<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_my_calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListPlanner"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CrudActivity"
            android:label="@string/crud"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.myapplication.ListPlanner"/>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoRZFBazq233liByPF5BmGR8PUGOB14-A"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PlanDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.myapplication.ListPlanner"/>
        </activity>

        <service android:name=".LocationService"/>
    </application>
</manifest>